### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Eclipse Specific ###
.metadata
.classpath
.project
.settings/
.factorypath
.springBeans
*.launch
bin/

### Project specific (Azure/Podman/Logs) ###
# and logs
*.log
/logs/

# Local secrets
.env
application-local.properties

### OS Specific ###
.DS_Store
Thumbs.db
desktop.ini
